# Data Science Ecosystem

In this notebook, Data Science Tools and Ecosystem are summerized.

**Objectives:**
- List popular languages of Data Science
- List commonly used libraries in Data Science
- List 3 popular development environments in Data Science
- Give examples of performing arithmetic operations in Python
- Demonstrate the use of markdown formats in Jupyter notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. JavaScript
6. Scala
7. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. ScikitLearn
5. ggplot
6. dplyr
7. stringr
8. Tidyverse

|Data Science Tools|
|------------------|
|Jupyter Lab/Jupyter Notebook|
|Apache Zeppelin|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Nevin Xavier N